<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="TestRunnerFF">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Test.TestRunner">
                <methods>
                    <include name="SearchJobAndCheck"/>
                </methods>
            </class>
         </classes>
    </test>
    <test verbose="2" preserve-order="true" name="TestRunnerCH">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Test.TestRunner">
                <methods>
                    <include name="SearchJobAndCheck"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>